body
{
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

.judul span {
    color: rgb(85, 80, 80);
}

/* layouts */
.wrapper{
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    background: #e2e2e2;
    transition: all 0.35s ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
}

.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    color: black;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sidebar-dropdown {
    margin-left: 3rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #101010;
    position: relative;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-in-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-in-out;
}

.navbar-expand .dropdown {
    margin-left: auto;
}

.content {
    flex: 1;
    min-width: 100vw;
    width: 100vw;
}

@media (min-width:700px) {
    .content {
        min-width: auto;
        width: auto;
    }
}

#sidebar.collapsed {
    margin-left: -264px;
}

/* theme */
.theme-toggle {
    position: fixed;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
    z-index: 10;
    right: 0;
    left: auto;
    border: none;
    background-color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light   "] .theme-toggle .fa-moon {
    cursor: pointer;
    padding: 10px;
    display: block;
    font-size: 1.25rem;
    color: #fff;
}

html[data-bs-theme="dark"] .theme-toggle .fa-moon {
    display: none;
}

html[data-bs-theme="light"] .theme-toggle .fa-sun {
    display: none;
}

